/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: url(../img/bg.png) repeat;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: Segoe UI, sans-serif;
    font-size: 14px;
    padding: 10px;
}
h1.title:before {
    content: 'Xin chào ';
}
h1.title:after {
    content: '!';
}
p.adviser1, p.adviser2, p.adviser3 {       
    color: #111;
}
p.question, p.unanswered-question {
    line-height: 2;
    padding: 0px 10px;    
    border-bottom: 1px dashed #BBB;
    border-radius: 3px;
}


p[class^="adviser"] .adviser-name {
    color: #DDD;
}

p.adviser1, p.adviser2, p.adviser3 {
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */


}
p.solved {
    text-decoration: line-through;
}
#question-txt {
    width: 97%;
    font: inherit;
}
.page-link {
    margin: 0px 5px;
}
input[type='text'], input[type='password'] {
    height: 30px;
}

.login-form {
    margin-top: 10%;
}
.login-form input[type='submit']{
    margin-left: 70%;
}
.center .inner-left {
    float: right;
    margin-right: 50%;
}
.center .inner-right {
    margin-left: 50%;
}
.form-title {
    width: 110px;
    height: 150px;
    text-indent: -9999px;
    margin-left: 50%;
}
.manager-icon {    
    background: url(../img/usericon.jpg) no-repeat 0px 0px;
}
.mc-icon {
    background: url(../img/usericon.jpg) no-repeat -150px -180px;
}
.adviser-icon {
    background: url(../img/usericon.jpg) no-repeat 0px -550px;
}
.home-logo {
    margin-bottom: 20px;
}
.homebtns {
    width: 400px;
    text-align: center;
}
.left-col {
    width: 70%;
    float: left;
}
.top-full {
    background: #EEE;
    padding: 10px;
    border-radius: 10px;
    width: 68%;
    text-align: center;
    font-size: 1.2em;
    float: left;
}
#chat-panel {
    position: fixed;
    width: 250px;
    top: 5px;
    right: 5px;
}
#chat-box .inner, #chat-box2 .inner {
    padding: 0px 5px;
    border: 1px solid #AAA;
    margin-left: 10px;
}
#chat-input, #chat-input2 {
    width: 95%;
}
.chat-screen {
    max-height: 250px;
    overflow-y: scroll;
}
.chat-screen p {
    line-height: 25px;
}
#chat-screen p:nth-child(2n+1) {
    background-color: #EEE;
}
#question-tbl .adviser-tbl {
    width: 100%;
    float: left;
}
#question-list {
    clear: both;
    float: left;
}
#question-list, #question-list table {
    width: 100%;
}
#question-list td:first-child {
}
span.minutes {
    font-size: 0.8em;
}
td {
    vertical-align: middle;
}
td input[type="button"] {
    font-size: 0.8em;
    float: right;
}
p.later {
    background: rgb(255,175,75); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

}
strong, p.title-bar, h1 {
    font-weight: bold;
}
p.title-bar {
    text-align: center;
    padding: 0px 0px 10px;
}
ol {
    margin-left: 30px;
    list-style: decimal;
}
ol li {
    line-height: 2;
}
.block {
    margin-top: 20px;
    float: left;
}
.block, #question-list {
    width: 33%;
}
#advquestion-list {
    width: 100%;
}
#advquestion-list table {
    width: 100%;
}
#answered-questions {
}
td.buttons {
    width: 140px !important;
}
.middle-block {
    border-right: 1px dashed #BBB;
    border-left: 1px dashed #BBB;
}
.block-q:last-child {
    border: none;
}
.block-q strong {
    padding-left: 10px;
}
.question-tbl {
    float: left;
    width: 100%;
    border: 1px dashed #BBB;
    border-radius: 10px;
    margin: 10px 0px;
    background: #FFF;
}
.adviser-q {
    padding: 0px 5px;
}
#adviser-list {
    display: none;
}
#adviser-list .inner {
    position: absolute;
    width: 170px;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #888;
	top: 50%;
	left: 50%;
}
#adviser-list p {
    padding: 10px;
}
.adviser-option:hover {
    background: #DDD;   
    cursor: pointer;
}
a[title="Log out"] {
    font-size: 0.8em;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
#advquestion-next {
	width: 100%;
}